body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  font: 400 18px/24px "gentium book basic", serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
.dosis {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
a,
a:visited {
  color: #0091ff;
}
body {
  padding-bottom: 75px;
}
/* .fonts-loaded body,
.fonts-failed body {
  opacity: 1;
} */
.title {
  margin: 90px 75px 60px;
  font-weight: 700;
}

.title a {
  color: inherit;
  text-decoration: inherit;
}

.title .subtitle {
  font-size: 24px;
  text-transform: none;
  font-weight: normal;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 4px 15px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
  text-align: right;

  background-color: #f1f1f1;
  border: 1px solid #e8e8e8;
  border-top: 0px;
}

.navbar .logo {
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

.navbar a {
  color: #888;
}

.navbar a:hover {
  text-decoration: underline;
}

.tags-bar {
  /* border-bottom: 1px solid #eaeaea; */
  margin-bottom: 60px;
  margin-top: -40px;
}

.tag {
  background-color: #f4f4f4;
  padding: 3px 5px;
  border-radius: 3px;
  user-select: none;
}

code {
  font-size: 16px;
  background-color: #f1f1f1;
  padding: 2px 4px;
}

/*OVERRIDES*/

div.firebaseui-container {
  max-width: none;
}
ul.firebaseui-idp-list > .firebaseui-list-item {
  margin-bottom: 15px;
  text-align: left;
}

button.mdl-button--raised.firebaseui-idp-google,
button.mdl-button--raised.firebaseui-idp-google:active,
button.mdl-button--raised.firebaseui-idp-google:focus,
button.mdl-button--raised.firebaseui-idp-google:focus:not(:active) {
  box-shadow: none;
  background-color: #f3fbff;
}

button.mdl-button--raised {
  padding: 0px;
  margin: 0;
  height: auto;
  line-height: 1em;
  min-height: auto;
  min-width: auto;
  width: auto;
  border: 1px solid #0079ff;
  padding: 10px 15px;
  border-radius: 3px;
  color: #0079ff;
}

button.mdl-button--raised:hover {
  background-color: #dcf2ff;
}

.firebaseui-idp-google > span.firebaseui-idp-text {
  color: #0079ff;
}

/* Spinner - courtesy of http://tobiasahlin.com/spinkit/ */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/****************************/
